.background-color1{
    background-color: rgb(211, 255, 197);
}
.background-color2{
    background-color: rgba(251, 255, 215, 0.932);
}
.background-color3{
    background-color: rgb(255, 206, 206); 
}
.background-color4{
    background-color: rgb(248, 185, 209); 
}