section { 
   display: block;
   padding: 0;
  }
.nav-top-shadow{
    min-height: 80px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.roda-color{
    background-color: rgb(60, 114, 136);
}
.conteiner-top{
 display: flex;
 align-items: center;
 justify-content: center;
}
.imagen-titulo{
    margin-left: 10% ;
    margin-right: 10% ;
}
.cards-graficos{
width: 100%;
margin-right: 10px;
min-width: 700px;
}
.border{
    border:dashed red;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px  auto;
}
.titulo-grafico{
    display: flex;
    align-items: center;
    justify-content: center;
}
.grafico{
    display: flex;
    align-items: center;
    justify-content: center; 
}
.sombra{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.card-grafico{
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 500px;
}