*{
    padding: 0px;
    margin: 0px 0px auto;

}

.centralizador{
    display:flex;
    align-items: center;
    justify-content: center; 
}

.text-size{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}
.border-rodape{
    border-top: solid 4px rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;  
    min-height: 60px;
}
.border-size-top{
    border-bottom: solid 4px #0D32FF;
    margin-bottom: 10px;
}
.border-size{
    border-bottom: solid 3px rgb(13, 146, 255);
    margin-bottom: 10px;
}
.bg-titulo{
    background-color: #0C5FE8;
    border-radius: 10px;
    margin-bottom: 10px;
}
.bg-titulo-card{
    background-color: rgb(255, 255, 255);
}
.page-nav{
    background-color:white;
}

.card-principal{
    margin:2em 2em auto;
    border-radius: 15px;
}
.card-grafico{
    margin:1em 1em auto;
  
}

.menu-card{
    margin-top:15px;
  
}
.borda{
 border:dashed red;
}
.top-margin{
    margin-top:15px;
}
.size3{
    font-size: 10px;
    margin-left: 12px;
}
.size2{
    font-size:15px;
}
.size{
    font-size: 12px;
}
.tabela{
    max-height: 600px;
}
.select-margin{
    margin-top: 10px;
}
.size-card{
   min-height: 200px;
}
.radio{
    margin-top:3px;   
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 6px;
  
}
.botão{
    margin-left: 5px;
    margin-right: 5px;
    margin-top:8px;
}
.radius{
    border-radius: 10px;
    background-color: rgba(138, 138, 138, 0.521);
}
.text-menu{
    font-size: 20px;
}
.min-index{
    min-height: 600px;
}


.vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(+430%); /* Adicionar os prefixos dos navegadores */
}
.mini-menu{   
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 1px;
}
