.card-box{
    box-shadow: 2px 4px 14px -8px rgba(0,0,0,0.75); 

}

.o{
    justify-content:1 ;
    align: items 1;
}
.conteiner-top{
    display: flex;
    align-items: center;
    justify-content: center;

}